.cart-item-info img{
   
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.product-cart-title{
    font-size: 0.8rem;
    font-weight: 600;
}

.cart-product-price{
    font-size: 0.8rem;
}

.cart-product-price span{
    font-size: 0.9rem;
    font-weight: 600;
    color: #df2020;
}

.increase-decrease-btn{
    background: #fde4e4 ;
    padding: 2px 3px;
    border-radius: 5px;

}

.increase-btn,.decrease-btn{
  cursor: pointer;
}

.delete-btn{
    font-size: 1.1rem;
    font-weight: 600;
}
.cart-item{
    padding-bottom: 10px;
    border-bottom: 1px solid #fde4e4;
}