.hero-content{
    padding-top: 50px;
}



.hero-title{
    font-size: 2.5rem;
    line-height: 55px;
}

.hero-title span{
    color: #df2020;
}

.hero-content p{
    font-size: 1rem;
    line-height: 30px;
    color: #777;
}
.order-btn{
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.hero-btns{
    display: flex;
    align-items: center;
   justify-content: space-between;
}

.hero-btns button{
   border: none;
   outline: none;
  
   
}
.order-btn{
    background-color: #df2020;
    color: #fff;
    border-radius: 10px;
    padding: 7px 20px;
    transition: 0.4s;
}
.order-btn:hover{
    background-color: #212245;
}
.allfoods-btns{
    background-color: #fff!important;
    border: 1px solid #df2020;
    color: #df2020;
    padding: 7px 20px;
    border-radius: 10px;
    outline: none;
   
}

.hero-service p{
    color: #212245;
    font-weight: 600;
    font-size: 0.9rem;
}
.shipping-icon i{
    padding: 5px;
    background: #df2020;
    color: #fff;
    border-radius: 50%;
    font-weight: 500px
    ;
}

