.footer{
    padding: 50px 0px;
    background-color: #fde4e4;
}
.footer-logo img{
    width: calc(100% - 80%);
    margin-bottom: 5px;

}

.footer-logo h5{
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 15px;
}
.footer-logo p{
    font-size: 0.9rem;
    color: #333;
    line-height: 20px;
}

.delivey-time-item {
  background-color: transparent !important;
}


.delivey-time-item span {
    background-color:#fde4e4; ;
    font-weight: 600;
    color: #212245;
}

.footer-title{
    background-color:#fde4e4; ;
    font-weight: 600;
    color: #212245;
}
.delivey-time-item p {
    
    color: #212245;
}

.newLetters{
    padding: 7px 5px;
    border: 1px solid #212245;
    border-radius: 5px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    cursor: pointer;
}
.newLetters input{
    background-color: transparent;
    border-radius: 5px;
    border: none;
    outline: none;
}

.newLetters input:focus{
    outline: none;
}
.newLetters input::placeholder{
  color: #212245;
}

.socail-links{
    display: flex;
   justify-content: right;
    align-items: center;
    gap: 10;
   
}

.socail-links span i{
  padding: 5px;
  background: #212245;
  color: #fff;
  border-radius: 50%;
  margin: 8px;

   
}
.text-copy{
    color: #df2020;
    font-size: 0.8rem;
}

@media screen and(max-width:992px){
    .newLetters input{
        padding: 10px 7px;
        font-size: 0.7rem;
    }
    .newLetters span{
        padding: 10px 7px;
        font-size: 0.7rem;
}
}

@media screen and(max-width:768px) {
    .footer-title{
        font-size: 0.8rem;
    }

    .delivey-time-item  span{
        font-size: 0.8rem;
    }

    .delivey-time-item  p{
        font-size: 0.7rem;
        margin-bottom: 0;
    }

    .newLetters input{
        padding: 10px 7px;
        font-size: 0.7rem;
    }
    .newLetters span{
        padding: 10px 7px;
        font-size: 0.7rem;
}

}

@media screen and(max-width:576px){
   .text-copy{
       justify-content: center;
   }


    .socail-links{
        justify-content: center;

    }

    .socail-links p{
        font-size: 0.8rem;

    }
    .socail-links span{
        padding: 4px;

    }

    .socail-links span a{
        font-size: 0.7rem;

    }
}